@import "tailwindcss";

@font-face {
  font-family: "Neue Montreal";
  src: url(assets/fonts/montreal-regular.otf);
  font-weight: 400;
}

button {
  cursor: pointer;
}
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  line-height: 1;
  background-color: var(--color-myDusk);
  font-family: var(--font-main), Arial, Helvetica, sans-serif;
  color: var(--color-myWhite);
}

::selection {
  background-color: var(--color-myAccent);
  color: var(--color-myDusk);
}

@theme {
  /* ===== COLOUR ===== */
  --color-myGray: #888888;
  --color-myBlack: #000;
  --color-myDusk: #0a0a0a; 
  --color-myWhite: #fdfdfd;
  --color-myAccent: #ccff00; /* Neon green accent */

  /* ===== TYPOGRAPHY ===== */
  --font-main: "Neue Montreal";
  --text-14-body: 14px;
  --text-16-body--letter-spacing: 0.01ch;
  --text-16-body--line-height: 1.3;
  --text-14-para: 14px;
  --text-16-para--letter-spacing: 0.03ch;
  --text-16-para--line-height: 1.5;

  --text-16-body: 16px;
  --text-16-body--letter-spacing: 0ch;
  --text-16-body--line-height: 1.3;
  --text-16-para: 16px;
  --text-16-para--letter-spacing: 0.02ch;
  --text-16-para--line-height: 1.5;

  --text-25-body: 25px;
  --text-25-body--letter-spacing: 0ch;
  --text-25-body--line-height: 1.3;

  --text-45-title: 45px;
  --text-45-title--letter-spacing: 0ch;
  --text-45-title--line-height: 1.1;

  --text-32-body: 32px;
  --text-32-body--letter-spacing: 0.01ch;
  --text-32-body--line-height: 1.2;

  --text-60-title: 60px;
  --text-60-title--letter-spacing: 0ch;
  --text-60-body--line-height: 0.94;

  --text-large-d: 280px;
  --text-large-d--letter-spacing: -0.03ch;
  --text-large-d--line-height: 0.94;

  --text-large-m: 150px;
  --text-large-m--letter-spacing: -0.01ch;
  --text-large-m--line-height: 0.94;

  /* ===== PADDING ===== */
  --padding-desktop-h: 35px;
  --padding-mobile: 25px;

}
